{% extends 'base.html' %} {% block content %} {% load static %}
<!-- Main News Slider Start -->
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-7 px-0">
			<div class="owl-carousel main-carousel position-relative">
				{% for new in news %} {% if new.headline %}
				<div
					class="position-relative overflow-hidden"
					style="height: 500px">
					<img
						class="img-fluid h-100"
						src="{{new.image.url}}"
						style="object-fit: cover" />
					<div class="overlay">
						<div class="mb-2">
							<a
								class="badge text-bg-warning text-decoration-none rounded-0 text-uppercase font-weight-semi-bold p-2 mr-2"
								href=""
								>{{new.category}}</a
							>
							<span class="text-white"
								>{{ new.date|date:'jS F, Y.' }}</span
							>
						</div>
						<a
							class="h2 link-main m-0 text-white text-uppercase font-weight-bold"
							href=""
							>{{new.title|truncatewords:7}}</a
						>
					</div>
				</div>
				{% endif %} {% endfor %}
			</div>
		</div>
		<div class="col-lg-5 px-0">
			<div class="row mx-0">
				{% for new in news %} {% if forloop.counter <= 4 %}
				<div class="col-md-6 px-0">
					<div
						class="position-relative overflow-hidden"
						style="height: 250px">
						<img
							class="img-fluid w-100 h-100"
							src="{{new.image.url}}"
							style="object-fit: cover" />
						<div class="overlay">
							<div class="mb-2">
								<a
									class="badge text-bg-warning text-decoration-none rounded-0 text-uppercase font-weight-semi-bold p-2 mr-2"
									href="#"
									>{{new.category}}</a
								>
								<span class="text-white" href="#"
									><small
										>{{ new.date|date:'M d, Y' }}</small
									></span
								>
							</div>
							<a
								class="h6 m-0 link-main text-white text-uppercase font-weight-semi-bold"
								href="#"
								>{{ new.title|truncatewords:8 }}</a
							>
						</div>
					</div>
				</div>
				{% endif %} {% endfor %}
			</div>
		</div>
	</div>
</div>
<!-- Main News Slider End -->

<div class="container my-4">
	<div class="row">
		<div class="col-12">
			<div class="section-title">
				<h4 class="m-0 text-uppercase font-weight-bold">Latest News</h4>
				<a
					class="text-secondary fw-bold text-uppercase text-decoration-none"
					href=""
					>View All</a
				>
			</div>
		</div>
		{% for new in news %}
		<div class="col-lg-6">
			<div
				class="card mb-3 shadow-lg position-relative"
				style="max-width: 540px">
				<div class="row g-0">
					<div class="col-md-4 one">
						<img
							src="{{new.image.url}}"
							class="img-fluid rounded-start"
							alt="..." />
					</div>
					<div class="col-md-8">
						<div class="card-body"
							><span
								class="text-bg-warning me-3 text-decoration-none text-uppercase px-2"
								>{{new.category}}</span
							>
							<h5 class="card-title"
								>{{new.title|truncatewords:10}}</h5
							>
							<p class="card-text mb-0 text-muted"
								>{{new.news|truncatewords:20|safe}}
								<small
									class="ms-1 float-end text-uppercase fw-bold text-muted"
									>Read more</small
								></p
							>
							<p class="card-text"
								><small class="text-body-secondary"
									><i class="fa-solid fa-clock me-1"></i
									>{{new.date|date:'M d, Y'}}</small
								></p
							>
						</div>
					</div>
				</div>
				<a href="#" class="stretched-link"></a>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="section-title">
				<h4 class="m-0 text-uppercase font-weight-bold">Media</h4>
				<a
					class="text-secondary text-uppercase fw-bold text-decoration-none"
					href=""
					>View All</a
				>
			</div>
			<div class="container-fluid">
				<div class="row">
					{% for new in news %}
					<div class="col-md-6 mb-4">
						<div class="item px-2">
							<div class="fh5co_news_img">
								<iframe
									id="video_2"
									width="100%"
									height="200"
									src="https://www.youtube.com/embed/aM9g4r9QUsM?rel=0&amp;showinfo=0"
									frameborder="0"
									allowfullscreen></iframe>
							</div>
						</div>
						<div
							class="badge text-bg-primary rounded-0 float-end me-2"
							>{{new.date}}</div
						>
					</div>
					{% endfor %}
					<div class="col-12 mt-5">
						<div class="card rounded-0 shadow-lg">
							<div class="card-body">
								<h5
									>Update us about what is happening in your
									area</h5
								>
								<form class="row g-3">
									<div class="col-md-6">
										<label
											for="inputEmail4"
											class="form-label"
											>Name</label
										>
										<input
											type="text"
											class="form-control"
											id="inputEmail4" />
									</div>
									<div class="col-md-6">
										<label
											for="inputPassword4"
											class="form-label"
											>Email/Phone</label
										>
										<input
											type="text"
											class="form-control"
											id="inputPassword4" />
									</div>
									<div class="col-6">
										<label
											for="inputAddress"
											class="form-label"
											>Location</label
										>
										<input
											type="text"
											class="form-control"
											id="inputAddress"
											placeholder="1234 Main St" />
									</div>
									<div class="col-6">
										<label
											for="inputAddress"
											class="form-label"
											>Country</label
										>
										<input
											type="text"
											class="form-control"
											id="inputAddress"
											placeholder="Uganda" />
									</div>

									<div class="mb-3">
										<label
											for="exampleFormControlTextarea1"
											class="form-label"
											>Message</label
										>
										<textarea
											class="form-control"
											id="exampleFormControlTextarea1"
											rows="3"></textarea>
									</div>
									<div class="col-12 text-end">
										<button
											type="submit"
											class="btn btn-primary rounded-0"
											>Send
											<i
												class="fa-solid fa-paper-plane"></i
										></button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<!-- Ads Start -->
			<div class="mb-3">
				<div class="section-title mb-0">
					<h4 class="m-0 text-uppercase font-weight-bold"
						>Advertisement</h4
					>
				</div>
				<div class="bg-white text-center border border-top-0 p-3">
					<a href=""
						><img
							class="img-fluid"
							src="{% static 'img/news-800x500-1.jpg' %}"
							alt=""
					/></a>
				</div>
			</div>
			<!-- Ads End -->
			<!-- Popular News Start -->
			<div class="mb-3">
				<div class="section-title mb-0">
					<h4 class="m-0 text-uppercase font-weight-bold"
						>Trending News</h4
					>
				</div>
				<div class="bg-white border border-top-0 p-3">
					{% for new in news %}
					<div
						class="d-flex align-items-center bg-white mb-3 position-relative"
						style="height: 120px">
						<img
							class="img-fluid"
							src="{{new.image.url}}"
							width="110"
							alt="" />
						<div
							class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
							<div class="mb-2">
								<a
									class="badge text-bg-warning rounded-0 text-decoration-none text-uppercase font-weight-semi-bold p-1 mr-2"
									href=""
									>{{new.category}}</a
								>
								<span class="text-body"
									><small
										>{{new.date|timesince}} ago</small
									></span
								>
							</div>
							<a
								class="m-0 link-main text-secondary text-uppercase font-weight-bold"
								style="font-size: 0.8rem"
								href=""
								>{{new.title|truncatewords:5}}</a
							>
						</div>
						<a href="" class="stretched-link"></a>
					</div>
					{% endfor %}
				</div>
				<div class="text-center mt-3">
					<a href="{% url 'upload' %}" class="btn btn-primary">UPLOAD NEWS</a>
				</div>
			</div>
			<!-- Popular News End -->
		</div>
	</div>
</div>
<br /><br />
{%endblock%}
